# Clerk — get these from https://dashboard.clerk.com → your app → API Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZXZpZGVudC1hbmNob3Z5LTU2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_jwWxfJnJxbcrqPZzgtP5hdZsfylEO8KGREiE7riqfm

# Clerk redirect URLs (must match Clerk dashboard settings)
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/onboarding

# NestJS API
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

